/* 
    Created on : 4-nov-2015, 18:14:12
    Author     : Melanie
*/
@import "../bootstrap/mixins/_buttons";

html {
    /* For sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    font-family: $standard-font;
    background: $background-image no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* For sticky footer, margin bottom by footer height */
    margin-bottom: 40px;
}

/* -------------------------------- Header -------------------------------- */

header {
    width: 100%;
    text-align: center;
    background-color: $white;
    margin-bottom: 20px;
}

.fixed {
    top: 0;
    z-index: 1;
    position: fixed;
    opacity: 0.8;
    height: 50px;
}

.top {
    margin-top: 140px;
}

/* -------------------------------- Layers -------------------------------- */

#content {
    margin-bottom: 40px;
}

.layer1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.layer2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.meme {
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
    padding: 20px;
    
    margin-bottom: 20px;
}

/* -------------------------------- Images -------------------------------- */

.img-fit {
    max-width: 350px;
    width: 100%;
    padding: 10px 0 20px 0;
}

/* -------------------------------- Text -------------------------------- */

.txt-right {
    text-align: right;
}
    
/* -------------------------------- Links -------------------------------- */

.refs {
    a {
        color: $accent-color;
        
        &:hover {
            color: darken($accent-color, 10%);
        }
    }
}

/* -------------------------------- Forms -------------------------------- */

textarea {
    resize: none;
}

#form-span {
    width: 150px;
}

.btn-group-menu {
    text-align: right;
    margin-bottom: 15px;
}

/* -------------------------------- Google API ----------------------------- */

.chart {
    width: 100%;
    height: 175px;
}

.map {
    height:400px;
    width: 100%;
    background-color: $maps-bg;
}

/* -------------------------------- Lists -------------------------------- */

a .list-group-item {
    color: black;
}

/* -------------------------------- Footer -------------------------------- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 41px;    
    background-color: $white;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.12);
}