*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

target/*
nbproject/private/*
private.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
/dist/

# temporary files
*.tmp
~$*

/Monitoring_System/Monitoring_System-ear/target/
/Monitoring_System/Monitoring_System-ejb/target/
/Monitoring_System/Monitoring_System-web/target/
/Monitoring_System/Monitoring_System-ejb/nbproject/
/RAD/RAD-ear/target/
/RAD/RAD-ejb/target/
/RAD/RAD-web/target/
/RAD/RAD-ejb/nbproject/
/VS/VS-ear/target/
/VS/VS-ejb/target/
/VS/VS-web/target/
/VS/VS-ejb/nbproject/
ASS/Simulator/Simulator-ear/target/
ASS/Simulator/Simulator-ejb/target/
ASS/Simulator/Simulator-web/target/
ASS/Simulator/Simulator-ejb/nbproject/
ASS/Simulator/output/
ASS/Simulator/Simulator-ear/target/maven-archiver/pom.properties
ASS/Simulator/Simulator-ejb/target/maven-archiver/pom.properties
*.lst
ASS/Simulator/Simulator-web/target/maven-archiver/pom.properties
ASS/Simulator/Simulator-ear/target/maven-archiver/pom.properties
ASS/Simulator/Simulator-ear/target/maven-archiver/pom.properties
ASS/Simulator/Simulator-ejb/target/maven-archiver/pom.properties
ASS/Simulator/Simulator-ejb/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
ASS/Simulator/Simulator-web/target/maven-archiver/pom.properties