/* 
    Created on : 25-nov-2015, 19:24:08
    Author     : Melanie
*/

@font-face {
    font-family: Redressed;
    src: url("../fonts/Redressed.ttf");
}

@font-face {
    font-family: Droid Serif;
    src: url("../fonts/DroidSerif-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: Droid Serif;
    src: url("../fonts/DroidSerif-Italic.ttf");
	font-style: italic;
	font-weight: normal;
}

@font-face {
    font-family: Droid Serif;
    src: url("../fonts/DroidSerif-Bold.ttf");
	font-style: normal;
	font-weight: bold;
}

@font-face {
    font-family: Droid Serif;
    src: url("../fonts/DroidSerif-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}