/* 
    Created on : 4-nov-2015, 18:13:58
    Author     : Melanie
*/

$white:                     #fff;
$black:                     #000;
$accent-color:              #8BD4A7;

$background-image:          url("../javax.faces.resource/images/bg.jpg");

$standard-font:             Calibri,sans-serif;

/* -------------------------------- Buttons -------------------------------- */

$btn-bg:                    $accent-color;
$btn-color:                 $white;